body {
  font-family: calibri, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  background-color: inherit;
  font-size: 40px;
  color: #373fff;
}
#main-doc {
  display: grid;
  grid-template-areas: '. navbar March_Plan .'
                       '. navbar April_Plan .'
                       '. navbar May_Plan .'
                       '. navbar Goals_2020 .'
                       '. navbar Beyond_2020 .';
}
#navbar {
  background-color: lightgray;
  grid-area: navbar;
  padding: 10px;
  margin-right: 30px;
  right: 0px;
  left: 0px;
  min-width: 220px;
  max-width: 300px;
  min-height: 220px;
  display: grid;
  grid-template-columns: auto;
}
#side-bar {
  grid-column-start: 1;
  position: fixed;
}
.main-section {
  right: 0px;
  left: 0px;
}

#March_Plan {grid-area: March_Plan;}
#April_Plan {grid-area: April_Plan;}
#May_Plan {grid-area: May_Plan;}
#Goals_2020 {grid-area: Goals_2020;}
#Beyond_2020 {grid-area: Beyond_2020;}

@media (max-width: 800px) {
  #main-doc {
    grid-template-areas: 'navbar'
                         'March_Plan'
                         'April_Plan'
                         'May_Plan'
                         'Goals_2020'
                         'Beyond_2020';
  }
  #navbar {
    position: inherit;
    max-width: 1000000px;
  }
  #side-bar {
    position: inherit;
  }
}
