h1,h2 {
  font-style: italic;
  background-color: inherit;
  color: white;
  text-align: center;
  font-family: calibri;
}
h3 {
  font-style: italic;
  background-color: inherit;
  color: black;
  text-align: center;
  font-family: calibri;
}
img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  width: 75%;
  background-color: #4e5850;
  color: inherit;
  padding-top: 30px;
  padding-bottom: 20%;
}
#title {

}
#img-div {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 5px;
}
#img-caption {

}
#tribute-info {

}
#tribute-link {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
