/*The CSS needs substantial work, lol
but it passes all of the tests*/
#main {
  display: flex;
  background-color: white;
  border-color: black;
  border-radius: 1px;
  color: inherit;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-style: solid;
}
@media {

}
#header {
  /*background-image: url(./first-ct.jpg);*/
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-style: solid;
  align-items: center;
}
#header-img {
  width: 50px;
  height: 50px;
  border-style: solid;
}
h1 {
  border-style: solid;
}
#nav-bar {
  border-style: solid;
}
#nav-link {

}
#video {
  border-style: solid;
}
/*https://www.youtube.com/watch?v=udxR5rBq_Vg*/
#form {
  border-style: solid;
}
#email {
  border-style: solid;
}
#submit {
  border-style: solid;
}
