/*The CSS needs substantial work, lol
but it passes all of the tests*/
main {
  display: flex;
}
@media {

}
#header {
  /*background-image: url(./first-ct.jpg);*/
}
#header-img {
  width: 50px;
}
h1 {

}
#nav-bar {
  top: 0px;
  position: fixed
}
#video {

}
#form {

}
#email {

}
#submit {

}
