body {
  background-color: white;
  color: black;
}
#main-doc {
  display: grid;
  grid-template-areas: 'nav'
                       'welcome'
                       'projects'
                       'footer';
  align-items: center;
  text-align: center;
}
#welcome-section {
  grid-area: welcome;
  height: 100vh;
  text-align: center;
}
#projects {
  grid-area: projects;
  background-color: rgba(0, 204, 255, 0.712);
  opacity: 80%;
  color: inherit;
  display: grid;
  grid-template-areas: 'projects-header projects-header'
                       'projects project';
  /* max-width: 200px; */
}
#projects-header {grid-area: projects-header;}
nav {
  grid-area: nav;
  align-items: center;
  text-decoration: none;
}
footer {
  background-color: rgba(213, 5, 255, 0.438);
  color: inherit;
  height: 10vh;
  width: 100vw;
}
@media (max-width: 800px) {
  #main-doc {
    grid-template-areas: 'nav'
                         'welcome'
                         'projects'
                         'footer';
  }
  #projects {
    display: grid;
    grid-template-areas: 'project'
                         'project'
                         'project';
    max-width: 100000px;
  }
}
.dark-mode {
  background-color: black;
  color: white;
}
.psychic-trip{
    animation:mode-change 10.2s infinite;
}
@keyframes mode-change {
  0% {   background-color: #FF00FF;
         color: #663399;
     }
  33% { background-color: #663399;
           color: cyan;
  }
  66% {   background-color: cyan;
         color: #663399;
     }
  80% { background-color: #663399;
         color: #FF00FF;
  }
  100% {   background-color: #FF00FF;
         color: #663399;
     }
}
.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}